<% @title="Login/Registration"%>
<div id="container">
	<div id="register">
		<h4>Register</h4>
		<% if flash[:register_errors] %>
		<% flash[:register_errors].each do |error| %>
		<p><%= error %></p>
		<% end %>
		<% end %>
		<form action="/register/" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			Name: <input type="text" name="user[name]">
			Alias: <input type="text" name="user[alias]">
			Email: <input type="text" name="user[email]">
			Password: <input type="password" name="user[password]">
			Confirm Pw: <input type="password" name="user[password_confirmation]">
			<input type="submit" value="Register">
		</form>
	</div>

	<div id="login">
		<h4>Login</h4>
		<% if flash[:login_errors] %>
		<p><%= flash[:login_errors] %></p>
		<% end %>

		<form action="/login/" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			Email: <input type="text" name="email">
			Password: <input type="password" name="password">
			<input type="submit" value="Login">
		</form>
	</div>
</div>